<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Admin - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Face Recognition Admin</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('add_face') }}">Add Face</a></li>
                    <li><a href="{{ url_for('login_history') }}">Login History</a></li>
                    <li><a href="{{ url_for('recognition_stream_page') }}">Live Recognition</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">

              <p>&copy; <span id="currentYear"></span> Face Recognition System</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>